body {
  padding-bottom: 200px;
  background-color: #f1c8c1
}

.jumbotron {
  border-radius: 150%;
  text-align: center;
  background-color: rgb(116, 177, 126);
  font-family: "Sofia", sans-serif;
  margin: 75px; 
}

img {
  border-radius: 50%;
  margin: 12px;
  border: 5px;
  padding: 8px;
}


#show-myGremlin {
  border-radius: 50px;
  text-align: center;
  background-color: rgb(2, 247, 43);
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 50px;
  color: #551515;
  display: none;
}

